<footer class="bg-natural-95 border-top py-5">
    <div class="container">
        <div class="row d-flex flex-wrap flex-lg-nowrap justify-content-center">
            <ul
                class="col-lg-6 mb-0 footer-nav d-flex d-lg-flex flex-lg-nowrap flex-wrap align-items-lg-center justify-content-center">
                <li class="px-4 py-2 px-lg-5">
                    <a class="" href="#">服務方案</a>
                </li>
                <li class="px-4 py-2 px-lg-5">
                    <a class="" href="#">關於職旅</a>
                </li>
                <li class="px-4 py-2 px-lg-5">
                    <a class="" href="#">聯絡我們</a>
                </li>
                <li class="px-4 py-2 px-lg-5">
                    <a class="" href="#">隱私權政策</a>
                </li>
                <li class="px-4 py-2 px-lg-5">
                    <a class="" href="#">用戶條款</a>
                </li>
            </ul>
            <p class="col-lg-6 py-2 w-auto ms-lg-auto text-natural-50 d-flex align-items-center">Copyright © 2025 職旅
                workway. All rights reserved.</p>
        </div>
    </div>
</footer>