<footer class="bg-natural-95 border-top py-5">
    <div class="container">
        <div class="row d-flex flex-wrap flex-lg-nowrap justify-content-between  align-items-center">
            <div class="col-10 col-lg-6 mb-0">
                <ul class="d-flex footer-nav d-lg-flex flex-lg-nowrap flex-wrap">
                    <li class="col-4 col-lg-12 px-4 px-lg-5">
                        <a class="" href="#">服務方案</a>
                    </li>
                    <li class="col-4 col-lg-12 px-4 px-lg-5">
                        <a class="" href="#">關於職旅</a>
                    </li>
                    <li class="col-4 col-lg-12 px-4 px-lg-5">
                        <a class="" href="#">聯絡我們</a>
                    </li>
                    <li class="col-4 col-lg-12 px-4 px-lg-5">
                        <a class="" href="#">隱私權政策</a>
                    </li>
                    <li class="col-4 col-lg-12 px-4 px-lg-5">
                        <a class="" href="#">用戶條款</a>
                    </li>
                </ul>
            </div>
            <p class="col-2 col-lg-6 w-auto ms-auto">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </div>     
    </div>
</footer>