.footer {
    background: #69F0AE;
    font-size: 64px;
}

.footer-nav {
    list-style-type: none;
    // li {
    //     //list-style-type: none;
    //     width: auto;
    //     flex: 0 0 33.333%;
    //     text-align: center;
    // }
}

@media (min-width: 992px) {
    .footer-nav li{
        flex: 0 0 auto;
    }
}